{% extends "base.html" %}
<!--product_list.html-->
{% block title %}Product List{% endblock title %}

{% block content %}

<div id='products' class="col-lg-9 mx-auto ">
  <div class="row mx-auto">
    {% for product in product_list %}
    <div class="card mx-auto mb-3" style="width: 18rem;">
        <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{ product.image }}" alt="Card image cap"></a>
        <div class="card-body">
            <div class="text-center"> <!-- Add a container div with "text-center" class -->
                <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                <p class="card-text"><b>$ {{ product.price }}</b></p>
            </div>
        </div>
        <div class="card-footer p-0 no-gutters">
          
        </div>
    </div>
{% endfor %}


            
  </div>

</div>



{% endblock content %}
